.header {
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    width: 110px;
    margin: 0px 10px -5px 0px;
}

.nav-items > ul{
    font-size: 20px;
    display: flex; 
    list-style-type: none;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
/** Rest-Card*/
.res-card{
    margin:5px;
    font-size: 13px;
    padding:5px;
    width:200px;   
}
.res-logo{
   
    width:100%;
    height:180px;
}

.res-card:hover {
     cursor: pointer;
     border:1px solid black;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
}
 

.footer {
  background-color: #222;
  color: #fff;
  padding: 30px 20px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-section {
  max-width: 250px;
}
.cuisines{
     
     color: #555;
     margin-bottom: 6px;
     word-wrap: break-word;
}



.footer-section h3,
.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 6px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #444;
  padding-top: 10px;
}
.filter-btn{
   cursor: pointer;
  margin:10px;
}

.shimmer-container{
   display:flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 20px;
    width:200px;
    height : 400px;
    background-color: #f0f0f0;

}
.login{
  margin: 20px;
  cursor: pointer;
 
}
.filter{
  display: flex;
}

.search{
   margin:10px;
}

.res-mind {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
}
.whats-mind {
 
  display: flex;
  flex-wrap: wrap;
}

/* container holding cards */
.res-mind {
  display: flex;
  gap: 20px;
}

/* each image + text */
.mind-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* image */
.mind-card img {
  cursor: pointer;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

/* text */
.mind-card span {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
}
.whats-title{
  width: 100%;
}